a {
    text-decoration: none !important;
}

.icon-bg {
	font-size: 6em !important;
	z-index: -1;
	color: #ddd;
}

.icon-error-bg {
	font-size: 4em !important;
	z-index: -1;
	position: absolute;
	top: -10px;
	left: -15px;
	color: crimson;
}

.gray {
	color: #bbb !important;
}

.faded {
	opacity: 0.5;
}

.faded-light {
	opacity: 0.7;
}

.item-tiny {
	padding: 6px;
	font-size: 0.9em;
	-webkit-box-shadow: 0 0 10px #ddd;
	   -moz-box-shadow: 0 0 10px #ddd;
			box-shadow: 0 0 10px #ddd;
}

.item-error {
	padding: 10px;
	padding-left: 25px;
	font-size: 1.1em;
	margin-bottom: 5px;
}