a {
    text-decoration: none !important;
}

.icon-bg {
	font-size: 6em !important;
	z-index: -1;
	color: #ddd;
}

.gray {
	color: #bbb;
}

.faded {
	opacity: 0.5;
}

.item-tiny {
	padding: 6px;
	font-size: 0.9em;
	box-shadow: 0 0 10px #ddd;
}