<ion-view view-title="Login">
    <ion-content>
        <form name="form" ng-submit="login(form, user)">
            <div class="list">
                <label class="item item-input item-floating-label">
                    <span class="input-label">Email</span>
                    <input type="email" placeholder="Email" name="email" ng-model="user.email" required/>
                </label>
                <label class="item item-input item-floating-label">
                    <span class="input-label">Password</span>
                    <input type="password" placeholder="Password" name="password" ng-model="user.password" required/>
                </label>

            </div>
            <button type="submit" class="button button-full button-balanced">
                <i class="ion-log-in"></i> Login
            </button>
        </form>
    </ion-content>
</ion-view>
