<ion-view view-title="{{ profile.get_full_name }}">
    <ion-nav-title>{{ profile.get_full_name }}</ion-nav-title>

    <ion-content class="bg-e">

        <div class="profile-info">
            <div class="profile-container">
                <div class="profile-badges">
                    <span class="image-circle">{{ profile.reputation }}</span>
                </div>
                <div class="profile-image">
                    <img ng-src="{{ profile.get_gravatar[128] }}" class="image-circle">
                    <p>{{ profile.get_full_name }}</p>
                </div>
                <div class="profile-about">
                    <p ng-if="profile.about.length">{{ profile.about }}</p>
                    <p ng-if="!profile.about.length">...</p>
                </div>
            </div>
        </div>

        <div class="profile-tabs tabs-striped tabs-top tabs-background-assertive tabs-color-light" style="background: none !important">
            <div class="tabs">
                <a class="tab-item" ng-class="{'active': activeTab === 'about'}" ng-click="activateTab('about')">
                    <i class="icon ion-person"></i>
                </a>
                <a class="tab-item" ng-class="{'active': activeTab === 'items'}" ng-click="activateTab('items')">
                    <i class="icon ion-ios-paper"></i>
                </a>
<!-- NOT DONE YET
                <a class="tab-item" ng-class="{'active': activeTab === 'comments'}" ng-click="activateTab('comments')">
                    <i class="icon ion-chatboxes"></i>
                </a>
                <a class="tab-item" ng-class="{'active': activeTab === 'votes'}" ng-click="activateTab('votes')">
                    <i class="icon ion-chevron-up"></i>
                </a>
-->
            </div>
        </div>

        <div class="profile-content">
            <div ng-if="activeTab === 'about'">
                <div class="list">
                    <div class="profile-item item" ng-show="profile.website.length">
                        <p>
                            <i class="profile-icon ion-link" style="background: darkcyan"></i>
                            <translate>Website</translate>: <b><a href="{{ profile.website }}">{{ profile.website }}</a></b>
                        </p>
                    </div>
                    <div class="profile-item item" ng-if="profile.location.length">
                        <p>
                            <i class="profile-icon ion-ios-location" style="background: green"></i>
                            <translate>Location</translate>: <b>{{ profile.location }}</b>
                        </p>
                    </div>
                    <div class="profile-item item">
                        <p>
                            <i class="profile-icon ion-android-star-outline" style="background: darkslateblue"></i>
                            <translate>Reputation</translate>: <b>{{ profile.reputation }}</b>
                        </p>
                    </div>
                    <div class="profile-item item" ng-if="profile.real_name.length">
                        <p>
                            <i class="profile-icon ion-ios-book" style="background: crimson"></i>
                            <translate>Real Name</translate>: <b>{{ profile.real_name }}</b>
                        </p>
                    </div>
                    <div class="profile-item item">
                        <p>
                            <i class="profile-icon ion-calendar"></i>
                            <translate>Joined Date</translate>: <b>{{ profile.date_joined | date }}</b>
                        </p>
                    </div>
                </div>
            </div>

            <div ng-if="activeTab === 'items'" style="padding-top: 1px">
                <div class="list card padding center" ng-if="!profileItems.length">
                    {{ profile.get_full_name }} <translate>has no items</translate>...
                </div>

                <div class="list card" ng-repeat="item in profileItems">
                    <item item="item" image="'single'" type="'profile'"></item>
                </div>
            </div>

            <div ng-if="activeTab === 'comments'" style="background: #eee !important">
                Content comments
            </div>

            <div ng-if="activeTab === 'votes'">
                Content votes
            </div>

            <ion-infinite-scroll
                immediate-check="false"
                on-infinite="loadMore(activeTab)"
                ng-if="pageHasNext && activeTab != 'about'"
                distance="5%">
            </ion-infinite-scroll>
        </div>

    </ion-content>
</ion-view>
