<ion-view view-title="{{ user.get_full_name }}">
    <ion-content>
        <div class="row">
            <div class="col col-33">
                <img ng-src="{{ user.get_gravatar[128] }}" class="padding image-box image-circle">
            </div>

            <div class="col col-66">
                <div class="list card">
                    <div class="item" ng-show="user.about.length">
                        {{ user.about }}
                    </div>
                    <div class="item" ng-hide="user.about.length">
                        ...
                    </div>
                </div>
            </div>
        </div>

        <div class="list card">
            <div class="item item-divider">
                <p class="center">{{ user.get_full_name }}</p>
            </div>

            <div class="item item-text-wrap">
                <ul>
                    <br>
                    <li ng-show="{{ user.real_name.length }}">
                        <p> <translate>Real Name</translate>: <b class="right">{{ user.real_name }}</b></p>
                        <br>
                    </li>
                    <li>
                        <p> <translate>Website</translate>: <a href="{{ user.website }}" class="right">{{ user.website }}</a></p>
                        <br>
                    </li>
                    <li ng-show="{{ user.location.length }}">
                        <p><translate>Location</translate>: <span class="right">{{ user.location }}</span></p>
                        <br>
                    </li>
                </ul>
            </div>

            <div class="item item-divider">
                <p><translate>Joined Date</translate>: <b class="right">{{ user.date_joined | date }}</b></p>
            </div>
        </div>

    </ion-content>
</ion-view>
