<?xml version='1.0' encoding='utf-8'?>
<widget id="com.tiwun.tiwunmobile" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Tiwun</name>
    <description>
        Discover amazing stuff, collect the things you love, buy it all in one place.
        Post Ads, Sell/Buy stuff and find hottest deals.
    </description>
    <author email="hello@tiwun.com" href="https://wwww.tiwun.com">
        Tiwun Development Team
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
