<ion-view view-title="{{ 'Create Item'|translate }}">
    <ion-content>
        <form name="form" ng-submit="create(form, item)" novalidate>

            <div class="list">
                <!-- Title -->
                <label class="item item-input item-floating-label"
                       ng-class="{ 'has-error' : form.title.$invalid && !form.title.$pristine  && formSubmitted }">
                    <span class="input-label" translate>Title</span>
                    <input type="text"
                            placeholder="{{ 'Title'|translate }}"
                            name="title"
                            ng-model="item.title"
                            ng-minlength="5"
                            ng-maxlength="155"
                            required>

                    <p ng-show="form.$submitted && form.title.$error.minlength">Title is too short</p>
                    <p ng-show="form.$submitted && form.title.$error.maxlength">Title is too long</p>
                    <p ng-show="form.$submitted && form.title.$error.required">This field is required</p>
                </label>

                <!-- Description -->
                <label class="item item-input item-floating-label"
                       ng-class="{ 'has-error' : form.description.$invalid && !form.description.$pristine && formSubmitted  }">
                    <span class="input-label" translate>Description</span>
                    <textarea placeholder="{{ 'Description'|translate }}"
                            name="description"
                            cols="30"
                            rows="10"
                            ng-model="item.description"
                            ng-minlength="15"
                            required>
                    </textarea>

                    <p ng-show="form.$submitted && form.description.$error.minlength">Description is too short</p>
                    <p ng-show="form.$submitted && form.description.$error.required">This field is required</p>
                </label>

                <!-- Is Free ? -->
                <ul class="list">
                    <li class="item item-toggle">
                        <translate>Is it free ?</translate>
                        <label class="toggle toggle-assertive">
                            <input name="isFree" ng-model="item.isFree" type="checkbox">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>
                </ul>

                <label class="item item-input item-select" ng-if="!item.isFree">
                    <div class="input-label">
                        <translate>Money Currency</translate>
                    </div>
                    <select name="moneyCurrency"
                            ng-model="item.moneyCurrency"
                            ng-options="k for k in moneyCurrencies">
                    </select>
                </label>

                <div class="row" ng-if="!item.isFree">
                    <div class="col">
                        <!-- Minimum Price -->
                        <label class="item item-input"
                               ng-class="{ 'has-error' : form.minPrice.$invalid && !form.minPrice.$pristine  && formSubmitted }">
                            <input type="number"
                                   placeholder="{{ 'Minimum Price'|translate }}"
                                   name="minPrice"
                                   ng-model="item.minPrice"
                                   ng-min="0"
                                   required>
                        </label>
                    </div>
                    <div class="col">
                        <!-- Maximum Price -->
                        <label class="item item-input"
                               ng-class="{ 'has-error' : form.maxPrice.$invalid && !form.maxPrice.$pristine  && formSubmitted }">
                            <input type="number"
                                   placeholder="{{ 'Maximum Price'|translate }}"
                                   name="maxPrice"
                                   ng-model="item.maxPrice"
                                   ng-min="item.minPrice"
                                   required>
                        </label>
                    </div>
                    <div class="col">
                        <!-- Discounted Price -->
                        <label class="item item-input"
                               ng-class="{ 'has-error' : form.discountedPrice.$invalid && !form.discountedPrice.$pristine  && formSubmitted }">
                            <input type="number"
                                   placeholder="{{ 'Discounted Price'|translate }}"
                                   name="discountedPrice"
                                   ng-model="item.discountedPrice"
                                   ng-max="item.maxPrice">
                        </label>
                    </div>
                </div>


                <label class="item item-input item-floating-label"
                       ng-class="{ 'has-error' : form.tags.$invalid && !form.tags.$pristine && formSubmitted }">
                    <input type="text"
                            placeholder="{{ 'Tags separated by space'|translate }}"
                            name="tags"
                            ng-model="item.tags"
                            ng-minlength="3"
                            ng-maxlength="50"
                            required>

                    <p ng-show="form.$submitted && form.tags.$error.required">This field is required</p>        
                </label>

                <!-- Buttons -->
                <button class="button button-full button-positive" type="submit">
                    <i class="ion-android-checkmark-circle"></i> <translate>Create Post</translate>
                </button>
                <a href="#!/app/explor" class="button button-full button-small button-assertive button-outline">
                    <translate>Cancel</translate>
                </a>
            </div>
        </form>
    </ion-content>
</ion-view>
