<ion-view view-title="{{ item.title }}">
    <ion-nav-title>{{ item.title }}</ion-nav-title>
    <ion-content>
        <div class="list card">
            <item item="item" image="'multi'" up-vote="upVote(item)" down-vote="downVote(item)" add-comment="addComment"></item>
        </div>

        <form name="form" ng-submit="addComment(form, comment)">
            <div class="bar item-input-inset">
                <label class="item-input-wrap">
                    <input
                        type="text"
                        name="comment"
                        ng-model="comment.text"
                        placeholder="{{ 'Comment...'|translate }}"
                        ng-change="checkAuth()"
                        ng-required="true"
                        required>
                </label>
            </div>
        </form>

        <div class="list">

            <div class="item item-avatar" ng-repeat="comment in item.comments">
                <img ng-src="{{ comment.user.get_gravatar[64] }}">
                <h2><a href="#!/app/account/user-profile/{{ comment.user.pk }}/">{{ comment.user.get_short_name }}</a></h2>

                <p>
                    {{ comment.comment }}
                    <br/>
                    {{ comment.created | timesince }} <translate>ago</translate>
                </p>
            </div>

        </div>

    </ion-content>
</ion-view>
