<ion-view>
    <ion-content>
        <div class="list">

            <div class="item item-avatar">
                <img src="http://placehold.it/64x64">

                <h2><a href="#/app/items/{{ item.pk }}/">{{ item.title }}</a></h2>

                <p>{{ item.created | date }}</p>
            </div>

            <div class="item item-body">
                <img class="full-image" ng-src="{{ item.get_primary_image.standard }}">

                <p>
                    {{ item.description | markdown | stripTags }}
                </p>

                <p>
                    <a href="#" class="subdued">{{ item.votes_count }} Like</a>
                    <a href="#" class="subdued">{{ item.comments_count }} Comments</a>
                </p>
            </div>

            <div class="item tabs tabs-secondary tabs-icon-left">
                <a class="tab-item" href="#">
                    <i class="icon ion-thumbsup"></i>
                    Like
                </a>
                <a class="tab-item" href="#">
                    <i class="icon ion-chatbox"></i>
                    Comment
                </a>
                <a class="tab-item" href="#/app/items/{{ item.pk }}/">
                    <i class="icon ion-share"></i>
                    Share
                </a>
            </div>

            <div class="item", ng-show="{{ auth.isAuthenticated() }}">
                <form name="form" ng-submit="addComment(form, comment)">
                    <div class="bar item-input-inset">
                        <label class="item-input-wrap">
                            <input type="search" name="search" ng-model="comment.text" placeholder="Comment...">
                        </label>
                    </div>
                </form>
            </div>
        </div>


        <div class="list">

            <div class="item item-avatar" ng-repeat="comment in item.comments">
                <img src="{{ comment.user_img }}">
                <a class="bold" href="#">{{ comment.user_name }}</a>

                <p>{{ comment.content }}</p>
            </div>

        </div>

    </ion-content>
</ion-view>
