<div class="item bg-e">
    <h2><a href="#!/app/items/{{ item.id }}/">{{ item.title }}</a></h2>

    <p>{{ item.created | date }} &nbsp;<translate>by</translate>: <a href="#!/app/account/user-profile/{{ item.user_id }}/">{{ item.user_name }}</a></p>
</div>

<div class="item" style="padding: 8px 15px" ng-if="item.has_price">
    <b class="offer" ng-if="item.has_compare_price">{{ item.discount_percentage }}% <small translate>OFF</small></b>
    <s class="small faded-light" ng-if="item.has_compare_price"><translate>was</translate> {{ item.get_compare_at_price_display }}</s>
    <b class="right assertive">{{ item.get_price_display }}</b>
</div>

<div class="item item-text-wrap" ng-if="image === 'single'">
    <a class="item item-thumbnail-left" href="#!/app/items/{{ item.id }}/">
        <img ng-src="{{ item.get_primary_image.thumbnail }}">
        <p>{{ item.description | markdown | stripTags | truncate: 140: '...': true }}</p>
    </a>
</div>

<div class="item item-body" ng-if="image === 'multi'">

    <ion-slide-box ng-if="image === 'multi'"  on-slide-changed="slideChanged(index)" delegate-handle="image-viewer">
        <ion-slide ng-repeat="img in item.images">
            <img class="full-image" ng-dblclick="upVote(item)" ng-src="{{ img.standard }}" />
        </ion-slide>
    </ion-slide-box>

    <img class="full-image" ng-src="{{ item.get_primary_image.standard }}" ng-if="image === 'single'">

    <p ng-bind-html="item.description | markdown"></p>
</div>

<div class="item tabs tabs-secondary tabs-icon-left bg-e">
    <div class="tab-item" ng-class="{'assertive': item.userVote.upVote}" ng-click="upVote(item)">
        <i class="icon ion-chevron-up"></i>
    </div>
    <div class="tab-item" ng-class="{'assertive': item.userVote.downVote}" ng-click="downVote(item)">
        <i class="icon ion-chevron-down"></i>
    </div>
    <a class="tab-item positive bold" href="http://{{ item.external_url }}" ng-if="image === 'multi' && item.external_url.length > 0">
        <i class="icon ion-eye"></i> <translate>Visit</translate>
    </a>
</div>
