<ion-view view-title="Popular Tags">
    <ion-content>

        <div class="list card" ng-repeat="tag in tags">
            <a class="item item-icon-left" href="#!/tags/{{ tag.slug }}">
              <i class="icon icon-bg ion-pricetags"></i>
                {{ tag.slug }}
              <span class="badge badge-assertive">x{{ tag.tagged_items_count }}</span>
            </a>
        </div>

        <ion-infinite-scroll
            immediate-check="true"
            on-infinite="loadMore()"
            ng-if="pageHasNext"
            distance="5%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>