<ion-view view-title="{{ 'Search'|translate }}">
    <ion-content>
        <form name="form" ng-submit="search(form, query)">
            <div class="bar item-input-inset">
                <label class="item-input-stacked">
                    <input type="search" name="search" ng-model="query.text" placeholder="{{ 'Search...'|translate }}">
                </label>
            </div>
        </form>

        <item item="item" image="'single'"></item>

        <ion-infinite-scroll
            immediate-check="true"
            on-infinite="loadMore()"
            ng-if="pageHasNext"
            distance="5%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
