<ion-view view-title="{{ 'Search'|translate }}">
    <ion-content class="bg-e">

        <div class="bar bar-header item-input-inset" ng-show="IsSearchPage">
            <form name="form" ng-submit="search(form, query)" class="full">
                <label class="item-input-wrapper">
                    <i class="icon ion-ios-search placeholder-icon"></i>
                    <input type="search" ng-model="query.text" placeholder="{{ 'Search...'|translate }}" ng-focus="!items.length">
                </label>
            </form>
        </div>

        <center><ion-spinner icon="lines" ng-show="shouldSpin"></ion-spinner></center>

        <div class="list faded-light">
            <br>

            <p class="item item-error bar bar-assertive center" ng-show="noResult">
                <i class="icon icon-error-bg ion-information-circled"></i> <translate>No result has been found :(</translate>
            </p>
        </div>

        <div class="toptags-list" ng-show="!items.length">
            <translate>Popular Tags</translate>
            <a class="button button-assertive button-small" ng-repeat="tag in tags" href="#!/app/tags/{{ tag.slug }}/">
                <i class="ion-pricetags"></i>
                {{ tag.slug }}
            </a>
        </div>

        <div class="list card" ng-repeat="item in items">
            <item item="item" type="'search'" image="'single'" up-vote="upVote(item)" down-vote="downVote(item)"></item>
        </div>

        <ion-infinite-scroll
                immediate-check="true"
                on-infinite="loadMore()"
                ng-if="pageHasNext"
                distance="5%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
