
<ion-view view-title="{{ 'Explore'|translate }}">
    <ion-content>
        <div class="button-bar">
            <a class="button"
               ng-repeat="(k, v) in itemKinds" ng-click="setItemKind(k)"
               ng-class="{'active': itemKinds[k] === currentItemKind}">
                <i class="ion-{{ v.icon }}"></i> <translate>{{ v.text }}</translate>
            </a>
        </div>

        <div class="list card" ng-repeat="item in items">
            <item item="item" image="'single'" up-vote="upVote(item)" down-vote="downVote(item)"></item>
        </div>

        <ion-infinite-scroll
            immediate-check="true"
            on-infinite="loadMore()"
            ng-if="pageHasNext"
            distance="5%">
        </ion-infinite-scroll>

    </ion-content>
</ion-view>
