<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable bar-dark">
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
            </ion-nav-buttons>

            <ion-nav-buttons side="right">
                <a href="#!/app/search" class="button button-icon button-assertive button-clear ion-ios-search-strong"></a>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="left">

        <ion-header-bar class="bar-stable bar-dark">
            <h1 class="title" translate>Menu</h1>
        </ion-header-bar>

        <ion-content>
            <ion-list class="menu-list">
                <div class="item item-banner" menu-close>
                    <span ng-hide="{{ auth.isAuthenticated() }}">
                        <br><br><br>
                        <a class="button button-positive button-small col-33" href="#!/app/account/login"><translate>Sign in</translate></a>
                    </span>

                    <a class="item item-avatar" href="#!/app/account/user-profile/{{ user.pk }}/" ng-show="auth.isAuthenticated()">
                        <img ng-src="{{ user.get_gravatar[64] }}">
                        <h2>{{ user.get_short_name }}</h2>
                        <p>{{ user.location }}</p>
                    </a>

                </div>

                <div class="item item-divider">
                    <translate>Tiwun</translate>
                </div>

                <a menu-close class="item item-icon-left" href="#!/app/explore">
                    <i class="icon icon-menu-bg gray ion-android-apps"></i> <translate>Explore</translate>
                </a>

                <a menu-close class="item item-icon-left" href="#!/app/items/new/">
                    <i class="icon icon-menu-bg gray ion-ios-plus-outline"></i> <translate>Post</translate>
                </a>

                <a menu-close class="item item-icon-left" href="#!/app/search">
                    <i class="icon icon-menu-bg gray ion-ios-search"></i> <translate>Search</translate>
                </a>

                <a menu-close class="item item-icon-left" href="#!/app/tags/">
                    <i class="icon icon-menu-bg gray ion-ios-pricetags-outline"></i> <translate>Tags</translate>
                </a>

                <div class="item item-divider"> <translate>Account</translate></div>

                <a menu-close class="item item-icon-left" href="#!/app/account/login" ng-hide="{{ auth.isAuthenticated() }}">
                    <i class="icon icon-menu-bg ion-log-in royal"></i> <translate>Sign in</translate>
                </a>

                <a menu-close class="item item-icon-left" href="#!/app/account/register" ng-hide="{{ auth.isAuthenticated() }}">
                    <i class="icon icon-menu-bg ion-person-add royal"></i> <translate>Register &amp; Join</translate>
                </a>

                <a menu-close class="item item-icon-left" ng-show="{{ auth.isAuthenticated() }}" href="#!" ng-click="auth.logout()">
                    <i class="icon icon-menu-bg ion-log-out assertive faded"></i> <translate>Sign out</translate>
                </a>

                <div class="item item-divider"></div>
                <label class="item item-input item-select">
                    <div class="input-label">
                        <translate>Language</translate>
                    </div>

                    <select
                        ng-model="translation.selected"
                        ng-change="changeTranslation(translation)"
                        ng-options="k as v for (k, v) in translations"
                        ng-init="translation.selected=defaultTranslation">
                    </select>

                </label>
            </ion-list>
        </ion-content>
    </ion-side-menu>

    <a class="button button-corner button-assertive anime" href="#!/app/items/new/" ng-hide="isPostPage">
        <i class="icon ion-ios-plus-outline"></i>
    </a>
</ion-side-menus>
